@import 'settings';
@import 'common/layout';
@import 'common/typography';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMontserrat);
  background: #F2F1EF;
}

.container {
  width: 100%
}

.app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 66px;
  font-weight: normal;
  font-smoothing: antialiased;
  padding: 0 16px;
}


/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
