@import '../common/typography';
@import '../common/input';

.entrybox {
  width: 30%;
  margin-bottom: 16px;
  height: 20px;
  align-self: center;
}

.header {
  @apply --heading;
  text-align: center;
}

.input {
  @apply --heading;
  @apply --input;
  text-align: center;
  outline: none;
  height: 20px;
}

