@import '../common/colors';
@import '../common/typography';

.container {
  padding: 0 16px;
  background-color: white;
  z-index: 1;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 66px;
  border-bottom: 2px solid #e21515;
}

.logo {
  height: 40px;
  padding-left: 16px;
}
.navigation {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 0px;
  padding-right: 16px;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
